html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif;
}

html {
    background-color: black;
}  

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: white;
}  

p,
li,
a {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2;
    color: white;
}
  